<% include ../partials/header %>

<% if(currentUser && currentUser.isAdmin) { %>
<h4>
	YOU ARE ADMIN
</h4>
<% } %>

<div class ="container">
<header class ="jumbotron"><h1>Welcome To Yelpcamp!!</h1>
	<p>
		we have a collection of campgrounds from all over the world
	</p>
	<p>
		<a class="btn btn-primary btn-lg"href="/campgrounds/new">Add campgrounds</a>	
	</p>
	<form action="/campgrounds" mehtod="GET" class="form-inline">
		<div class="form-group">
			<input type="text" name="search" placeholder="Search Campground..." class="form-control">
			<input type="submit" value="search" class="btn btn-primary">
		</div>	
	</form>
</header>
	<div class="row text-center" class="display:flex; flex-wrap:wrap;">
		<% campgrounds.forEach(function(campground){ %>
			<div class="col-md-3 col-sm-6">
				<div class="img-thumbnail">
					<img src="<%= campground.image %>">
				<div class="caption">
					<h4><%= campground.name %></h4>
				</div>
				</div>
				<p>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">more info</a>
				</p>
			</div>
 		<% }); %>			
	</div>
</div>

<% include ../partials/footer %>
